doctype 5
html(lang="en")
  head
    link(rel='stylesheet', href='/css/style.css')
    block head
  body
    div.container
      aside.login
        if user
          p
            | #{user.username} | 
            a(href='/logout') Logout
      block body
