doctype 5
html(lang="en")
  head
    link(rel='stylesheet', href='/css/style.css')
    script(src='/js/jquery.js')
    script(src='/js/shared.js')
    block head
  body
    //div#banner Australian Synchrotron Logo
    div.container
      aside.login
        if user
          p
            | #{user.username} | 
            a(href='/logout') Logout
      block body
