extends layout

block head
  title Login
  link(rel='stylesheet', type='text/css', href='/public/css/style.css')
block body
  #banner
  #content
    h1 Login
  #forms  
    form(action='/login', method='POST')
      label Username:
        input(name='username')
      label Password:
        input(type='password', name='password')
      input(type='submit')
    if error
      div.error= error
