extends layout

block head
  title Login
  link(rel='stylesheet', type='text/css', href='/public/css/style.css')
block body
  #content
    h1.core Login
  #forms
    form.front_page.core(action='/login', method='POST')
      input.input_box(name='username' placeholder='Username')
      input.input_box(type='password', name='password' placeholder='Password')
      input(type='submit')
    if error
      div.error= error
