extends layout

block head
  title Login
block body
  #content
    h1.login-page Login
    if error
      div.error= error
    form#login-form(action='/login', method='POST')
      input.input_box(name='username' placeholder='Username')
      input.input_box(type='password', name='password' placeholder='Password')
      input.clearfix(type='submit',value='Login' )
