body {
  font-family: sans-serif;
  background-color: #4c4c4c;
}

#banner {
  background-image: url("/images/SecondaryLogoWhiteOnGrey_93px.png");
  background-position: right;
  background-position-x: 99%;
  background-color: #717072;
  background-repeat: no-repeat;
  text-indent: -20000px;
  height: 110px;
}

#banner .logo {
  text-indent: -20000px;
}

#content h1 {
  clear: both;
  margin: 0;
  font-size: 3.0em;
  color: #111;
  text-align: center;
  padding: 10px;
}

#menu ul {
  height: 40px;
  background-color: #c6c3b9;
  text-align:center;
  font-size: 2.0em;
  padding: 0;
  margin: 0px 0 20px 0;
}

/*---------------------*/
/* login forms*/
/*---------------------*/
#content .core {
  margin-top: 24px;
}

#forms .core {
  margin-top: 24px;
}

#menu li {
  display: inline-block;
  text-align: center;
  padding: 0 10px;
  margin:0 0 10px 10px;
  list-style-type: none;
}

.active {
  height: 100%;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  -webkit-border-radius: 4px 4px 0px 0px;
  background-color: #4c4c4c;
}

#forms form {
  width: 240px;
  margin: 0 auto;
  border: 0;
  padding: 0;
}

#forms .input_box {
  margin-right: 5px;
}

#forms form input [type="submit"] {
  float: center;
  width: auto;
}

p {
  margin: 0px;
}

a:link, a:visited {
  color:black;
  text-decoration: none;
  background-color: transparent;
}

.active a:link, .active a:visited {
  color:#c6c3b9;
}

a:hover, a:active {
  text-decoration: none;
  background-color; transparent;
}

.clearfix:before, .clearfix:after {
  content:" ";
  display:table
}

#forms .front_page {
  width: 425px;
  position:absolute;
  right: 35%;
}

.clearfix:after {
  clear:both
}

.container {
  margin-left: auto;
  margin-right: auto;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.login {
  padding: 0;
  margin: 8px 0;
  height: 1.2em;
  width: 140px;
  float: left;
  left: 10px;
  text-indent: -20000px;
}

.error {
  color: red;
}

.table {
  clear:both;
  display: table;
  width: auto;
  margin: 1em auto;
  background-color: #8f8f8f;
  border: 2px solid;
}

.header {
  background-color: #707070;
  font-weight: bold;
}

.row {
  display: table-row;
  width: auto;
  clear: both;
}

.row:nth-child(even) {
  background-color: #a8a8a8;
}

.col {
  float: left;
  display: table-column;
  width: 11em;
  min-height: 1.5em;
  text-align: center;
}

.name-container {
  padding: 12px 0;
  width: 9em;
}

.borrower-container {
  padding: 12px 0;
  width: 14em;
}

.borrower-container > input {
  width: 15em;
}

.area-container {
  padding: 12px 0;
  width: 14em;
}

.area-container > input {
  width: 15em;
}

.borrowed-container {
  padding: 12px 0;
}

.save-container {
  padding: 12px 0;
  width: 220px;
}

.table-button {
  width: 8em;
  float: left;
}

.delete-button {
  width: 8em;
  float: right;
  position: relative;
  right: 4px;
}

.checker {
  font-size: .8em;
}
