body {
  font-family: sans-serif;
  margin: 50px;
}


.clearfix:before, .clearfix:after {
  content:" ";
  display:table
}

.clearfix:after {
  clear:both
}

.error {
  color: red;
}

.table {
  display: table;
  width: auto;
  margin: 1em;
}

.header {
  font-weight: bold;
}

.row {
  display: table-row;
  width: auto;
  clear: both;
}

.col {
  float: left;
  display: table-column;
  width: 11em;
  height: 1.5em;
}

.borrower-container {
  width: 14em;
}

.borrower-container > input {
  width: 15em;
}

.area-container {
  width: 14em;
}

.area-container > input {
  width: 15em;
}

.table-button {
  width: 8em;
}
