body {
  font-family: sans-serif;
  background-color: #585858;
}

#banner {
  background-image: url("/images/SecondaryLogoWhiteOnGrey_140px.png");
  background-position: right top;
  background-color: #717072;
  background-repeat: no-repeat;
  text-indent: -20000px;
  height: 140px;
  border-style: solid;
}

/*#banner {
  background-image:url("/images/SecondaryLogoWhiteOnGrey_140px.png");
  background-position: right top;
  background-color: #717072;
  background-repeat: no-repeat;
  text-indent: -20000px;
  height: 140px;
  border-style: solid;
}*/

#content h1 {
  font-size: 3.0em;
  color: #111;
  text-shadow: 3px 3px 7px #000000;
  text-align: center;
  padding: 10px;
}

#content ul {
  font-size: 1.5em;
  float: right;
  position: relative;
  left: -43%;
}

#content li {
  text-align: center;
  margin-bottom:10px;
  list-style-type: none;
  border-style: solid;
  border-width: 5px;
  width: 105px;
  position: center;
  background-color: #c6c3b9/*8a8a8a/*c6c3b9#646068*/;
}

a:link, a:visited {
  text-decoration: none;
  background-color: transparent;
}

a:hover, a:active {
  text-decoration: none;
  color: #6A5ACD;
  background-color; transparent;
}

.clearfix:before, .clearfix:after {
  content:" ";
  display:table
}

.clearfix:after {
  clear:both
}

.container {
  /*width: 1020px;*/
  margin-left: auto;
  margin-right: auto;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.login {
  padding: 0;
  margin: 0;
  height: 1.2 em;
  width: 140px;
  position: right;
}

.error {
  color: red;
}

.table {
  display: table;
  width: auto;
  margin: 1em;
  position: left;
  background-color: #8f8f8f;
  /*border-style: solid;*/
}

.header {
  font-weight: bold;
}

.row {
  display: table-row;
  width: auto;
  clear: both;
}

.col {
  float: left;
  display: table-column;
  width: 11em;
  min-height: 1.5em;
}

.name-container {
  width: 9em;
}

.borrower-container {
  width: 14em;
}

.borrower-container > input {
  width: 15em;
}

.area-container {
  width: 14em;
}

.area-container > input {
  width: 15em;
}

.table-button {
  width: 8em;
}

.checker {
  font-size: .8em;
}
